<!--footer section start-->
        <footer>
            2016 &copy; StarCMS by <a href="http://www.lechaungnet.com" target="_blank">深圳乐创网络科技</a>
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="STATIC_PATH/js/jquery-1.10.2.min.js"></script>
<script src="STATIC_PATH/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="STATIC_PATH/js/jquery-migrate-1.2.1.min.js"></script>
<script src="STATIC_PATH/js/bootstrap.min.js"></script>
<script src="STATIC_PATH/js/modernizr.min.js"></script>
<script src="STATIC_PATH/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="STATIC_PATH/js/easypiechart/jquery.easypiechart.js"></script>
<script src="STATIC_PATH/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="STATIC_PATH/js/sparkline/jquery.sparkline.js"></script>
<script src="STATIC_PATH/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="STATIC_PATH/js/iCheck/jquery.icheck.js"></script>
<script src="STATIC_PATH/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="STATIC_PATH/js/flot-chart/jquery.flot.js"></script>
<script src="STATIC_PATH/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="STATIC_PATH/js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="STATIC_PATH/js/morris-chart/morris.js"></script>
<script src="STATIC_PATH/js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="STATIC_PATH/js/calendar/clndr.js"></script>
<script src="STATIC_PATH/js/calendar/evnt.calendar.init.js"></script>
<script src="STATIC_PATH/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="STATIC_PATH/js/scripts.js"></script>

<!--Dashboard Charts-->
<script src="STATIC_PATH/js/dashboard-chart-init.js"></script>


</body>
</html>