<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="{$meta_keyword}">
  <meta name="description" content="{$meta_description}">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>{$meta_title}_后台管理系统</title>

  <!--icheck-->
  <link href="STATIC_PATH/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="STATIC_PATH/js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="STATIC_PATH/js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="STATIC_PATH/js/iCheck/skins/square/blue.css" rel="stylesheet">

  <!--dashboard calendar-->
  <link href="STATIC_PATH/css/clndr.css" rel="stylesheet">

  <!--Morris Chart CSS -->
  <link rel="stylesheet" href="STATIC_PATH/js/morris-chart/morris.css">

  <!--common-->
  <link href="STATIC_PATH/css/style.css" rel="stylesheet">
  <link href="STATIC_PATH/css/style-responsive.css" rel="stylesheet">




  
</head>

<body class="sticky-header">